@font-face {
    font-family: "NotoSansKR-Thin";
    src: local(NotoSansKR-Thin), 
         url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Thin.woff) format('woff');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "NotoSansKR-Light";
    src: local(NotoSansKR-Light), 
         url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Light.woff) format('woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "NotoSansKR-Regular";
    src: local(NotoSansKR-Regular), 
         url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "NotoSansKR-Medium";
    src: local(NotoSansKR-Medium), 
         url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "NotoSansKR-Bold";
    src: local(NotoSansKR-Bold), 
         url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 800;
}

* {font-family: 'NotoSansKR-Regular',sans-serif;font-weight: 400;margin:0;}
html,body,#wrap{min-height: 100%}
#wrap.dark-theme{background-color: #181818;}
#wrap{display: flex;}
nav{min-height: 100%;background-color: #f2f2f2;}

.color01{background-color:#2071dc !important}
.color02{background-color:#72aaf5 !important}
.color03{background-color:#97bff5 !important}
.color04{background-color:#6f6f6f !important}
.color05{background-color:#909090 !important}
.color06{background-color:#9d9d9d !important}
.color07{background-color:#f2f2f2 !important}
.color08{background-color:#ffffff !important}
.color09{background-color:#e490b0 !important}
.color10{background-color:#f5c872 !important}
.color11{background-color:#f2f2f2 !important}

.dark-theme .color01{background-color:#2071dc !important}
.dark-theme .color02{background-color:#72aaf5 !important}
.dark-theme .color03{background-color:#97bff5 !important}
.dark-theme .color04{background-color:#ffffff !important}
.dark-theme .color05{background-color:#b7b7b7 !important}
.dark-theme .color06{background-color:#909090 !important}
.dark-theme .color07{background-color:#181818 !important}
.dark-theme .color08{background-color:#212121 !important}
.dark-theme .color09{background-color:#e490b0 !important}
.dark-theme .color10{background-color:#f5c872 !important}
.dark-theme .color11{background-color:#35363a !important}

textarea{resize: vertical;border: 0;}
input[type="text"],input[type="password"],input[type="search"]{border:0;background: transparent;height: 100%;line-height: 38px;height: 38px;padding:0 15px;border-radius: 9999px;}
button:focus, input:focus{outline: none;}
button{border:0}
p{margin-bottom: 0;}
a{text-decoration: none;}
ul, li, ol {list-style: none;padding:0;margin:0}
h2{color:#6f6f6f;font-size: 27px;font-family: 'NotoSansKR-Medium';position: relative;line-height: 100%;padding-left: 20px;}
h2:before{content: '';position: absolute;width: 7px;height: 24px;background: #72aaf5;top:50%;left:0;transform: translateY(-50%);}
.wd-type01{max-width: 725px;}
.mr60{margin-right: 60px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mr10{margin-right: 10px;}
.mlauto{margin-left: auto !important;}
/* chk-wrap */
.chk-wrap{position: relative;}
.chk-wrap input{display: none;}
.chk-wrap label{position: relative;padding-left: 26px;height: 18px;font-size: 16px;line-height: 100%;color:#909090}
.chk-wrap label:before{content:'';position: absolute;width:18px;height: 18px;border-radius: 50%;border:1px solid #bfbfbf;background-color: #eaeaea;left:0;top:50%;transform: translateY(-50%);}
.chk-wrap input:checked + label:after{content:'';position:absolute;width:9px;height:9px;background:#72aaf5;border-radius: 50%;left:5px;top:50%;transform: translateY(-50%);}

.chk-wrap input[type='checkbox'] + label::before{border-radius: 0}
.chk-wrap input[type='checkbox']:checked + label::after{border-radius: 0}
/* modal */
.modal-dialog{max-width: 1248px;}
.modal-body{padding:0 40px}
.multi-form-cont{width:100%}

/*table*/
.table01{width: 100%;}
.table01 thead{background: #f2f2f2;text-align: center;}
.table01 thead th, .table01 tbody td{padding:8px 0}
.table01 tbody{background: #f2f2f2;text-align: center;}
/*button*/
.btn{border-radius: 9999px;min-width: 130px;}
.btn-primary{background-color: #2071db;}
.btn-secondary{background-color: #909090;}
.vbtn{border-radius: 9999px;background-color: #f2f2f2;color:#909090;font-size:16px;height: 38px;line-height: 38px;padding:0 15px;display:flex;align-items: center;justify-content: center;}
.ico{display: inline-block;margin-right: 5px;vertical-align: middle;background-repeat: no-repeat;background-position: 0 0;}
.ico.search{background-image: url("../images/icon_search.png");width:15px;height:18px}
.ico.regist{background-image: url("../images/icon_regist.png");width:17px;height:17px}
.ico.select{background-image: url("../images/icon_selected.png");width:17px;height:17px}
.ico.file{background-image: url("../images/icon_upload.png");width:17px;height:17px}
.ico.setting{background-image: url("../images/icon_setting.png");width:18px;height:17px}
.rstat .ico{background-image: url("../images/icon_datepicker.png");width:17px;height:18px}
.rstat{min-width: 140px;}
.round{border-radius: 9999px;}
.flex{display: flex;}
.flex.column{flex-direction: column;justify-content: center;}
.textarea{padding:15px 13px;min-height: 120px;}
.ui-select{position: relative;}
.ui-select > a{padding-right: 20px;background: url("../images/icon_select.png") no-repeat right center;}
.ui-select > a + ul{display:none;position: absolute;z-index: 10;width: 100%;}
.ui-select a{line-height: 38px;display: block;color:#6f6f6f;background-color: #fff;}
/* page */
.container{margin:0;padding:25px 60px}
.container .users{margin-bottom: 65px;}
.container .users span {font-size: 16px;color:#909090}
.container .users span strong{color:#72aaf5}
.container .users ul{margin-left:30px}
.container .users ul li a{display:block;font-family: 'NotoSansKR-Medium';font-size: 16px;color:#909090;padding:0 9px;position: relative;}
.container .users ul li:first-child a::before{content: '';position: absolute;right:0;width:2px;height: 16px;background-color: #909090;top:50%;transform: translateY(-50%);}
[data-role='rpset']{display: none;}
h1.logo{background:#2071dc;margin: 0;}
h1.logo a{display:block;padding:40px 73px 40px 150px;color:#fff;font-size: 20px;line-height: 1em;background: url("../images/img_logo.png") no-repeat 75px center;}
nav{min-width: 315px;max-width: 315px;}
nav .gnb{margin-top: 80px;padding-left: 75px;}
nav .gnb > li{margin-bottom: 50px;}
nav .gnb > li a{color:#909090;font-size: 20px;font-family: 'NotoSansKR-Medium';}
nav .gnb > li.on > a{color:#2071dc}
nav .gnb > li > a + ul{position: relative;display: none;}
.sub-menu{position:relative;min-width:320px;max-width:320px;overflow-y: auto;min-height: 100%;padding: 120px 25px 0 45px;border-right: 9px solid #f2f2f2;}
.sub-menu h3{color:#6f6f6f;font-size: 16px;font-family: 'NotoSansKR-Medium';margin:30px 0 20px;}
.sub-menu ul{width: 235px;}
.sub-menu ul li{display:flex;margin-bottom: 15px;position: relative;}
.sub-menu ul li a{position: absolute;right: 0;background: url("../images/icon_delete.png") no-repeat right center;text-indent: -9999px;display: block;width:10px;height: 100%;}
.favorite .chk-wrap label:before{height:18px;background:url("../images/icon_set01.png") no-repeat 0 0;border:0}
.favorite .chk-wrap label::after{display: none;}
.favorite .chk-wrap input:checked +label:before{background:url("../images/icon_set01.png") no-repeat -23px 0;border:0}
.recent-conf .chk-wrap label::after{display: none;}
.recent-conf .chk-wrap label:before{width:19px;height:16px;background:url("../images/icon_set01.png") no-repeat -48px -2px;border:0;border-radius: 0;}
.recent-conf .chk-wrap input:checked +label:before{background:url("../images/icon_set01.png") no-repeat -72px -2px;border:0}

h5.modal-title{font-family: 'NotoSansKR-Medium';font-size: 25px;color:#6f6f6f;padding-left:20px;position: relative;}
h5.modal-title::before{content: '';position: absolute;left:0;width:6px;height:22px;background-color: #72aaf5;top:50%;transform: translateY(-50%);}
.modal-header{padding:25px 40px;border-bottom: 0;}
.modal-footer{border-top:0;padding: 30px 40px;}
.align-center{text-align: center;color:#9d9d9d;font-size: 20px;}
.layer-sub-head{display: flex;justify-content: space-between;margin-bottom: 20px;}
.layer-sub-head strong{color:#6f6f6f;font-size: 16px;}
.valign{display: flex;flex-direction: column;}

.r-select{border:0;width:80px;background-image:url("../images/icon_select.png") ;background-repeat: no-repeat;background-position: 100% center;text-align: center;padding-left:15px;border-radius: 9999px;}
.r-select{-webkit-appearance: none;}
.r-select::-ms-expand {display: none;}
.btn-ico-search{margin-left: auto;background:url("../images/icon_search2.png") no-repeat 0 0;text-indent: -9999px;width: 29px;height: 29px;}
.srch{align-items: center;padding-right:10px}
.btn-light{color:#e490b0;font-size: 16px;padding:10px 15px;line-height: 100%;}

.form{margin-top: 40px;}
.section{margin-bottom: 15px;padding: 15px 0;box-shadow: 2.079px 9.781px 40px 0px rgba(0, 0, 0, 0.03);}
.section .form-item{display:flex;position:relative;padding-right: 15px;margin-top:20px}
.section .form-item:first-child{margin-top:0}
.section .form-cont{width:100%;align-items: center;}
.section .form-cont p{margin-bottom: 0;line-height: 38px;}
.section .form-cont p.able{color:#72aaf5}
.section .form-cont .dash{min-width: 120px;text-align: center;line-height: 38px;}
.section .form-cont .wd-type02{width:304px;align-items: center;}
.section .form-cont .vbtn{min-width: 80px;max-width:80px;margin:0;padding:0}
.section .form-cont .input-group{width: 565px;border-radius: 9999px;padding-right: 20px;}
.section .form-cont .input-group .vbtn{width:110px;margin-left: auto !important;}
.section .form-cont .ext label{min-width: 70px;color:#9d9d9d;font-size: 16px;}
.section .form-cont .ext input{width: 240px;margin-right: 40px;}
.section .form-cont .layout{height:38px;border-radius: 9999px;padding:0 45px 0 15px;line-height: 38px;color:#909090;background-image: url("../images/icon_select.png");background-repeat:no-repeat;background-position: 90% center;}
.section .form-cont .layout span{position: relative;padding-right: 12px;margin-right:10px;}
.section .form-cont .layout span:first-child:after{content: '';position: absolute;width:1px;height: 24px;background: #909090;right:0;top:50%;transform: translateY(-50%);}
.section .form-cont .samp{height: 38px;line-height: 38px;padding:0 15px;border-radius: 9999px;color:#909090}
.section .form-cont .samp i{background-image: url("../images/icon_sample.png");width: 16px;height: 16px;}
.section .form-cont .vbtn.download{width:auto;max-width: none;padding: 0 20px;margin-left: auto;}
.section .form-cont .vbtn.download i{background-image: url("../images/icon_download.png");width:17px;height: 16px;}
.section .form-cont .bt-wrap{padding:0 20px;}
.section .multi-form-cont .chk-wrap{line-height: 38px;}
.section .multi-form-cont .form-cont .ext{margin-bottom:15px}
.section .multi-form-cont .form-cont .ext + button{margin-left: auto;}
.section .multi-form-cont .table01{max-width: 730px;}
.section .tit{font-size:16px;min-width:150px;padding-left: 35px;line-height: 38px;font-family: "NotoSansKR-Medium";color:#6f6f6f}

.bootstrap-tagsinput {background-color: #f2f2f2;display: inline-block;color: #555;vertical-align: middle;border-radius: 9999px;width: 100%;line-height: 22px;cursor: text;margin-right: 20px;padding:0 10px;position: relative;}
.bootstrap-tagsinput input {border: none;box-shadow: none;outline: none;background-color: transparent;padding: 0 6px;margin: 0;width: auto;max-width: inherit;height: 38px;line-height: 38px;}
.bootstrap-tagsinput.form-control input::-moz-placeholder{color:#777;opacity:1}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder{color:#777}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder{color:#777}
.bootstrap-tagsinput input:focus{border:none;box-shadow:none}
.bootstrap-tagsinput .badge{padding:0 8px 0 30px;color:#909090;font-size:16px;background: url("../images/icon_user.png") no-repeat left center;line-height: 38px;vertical-align: top;}
.bootstrap-tagsinput .badge [data-role="remove"]{margin-left:8px;cursor:pointer}
.bootstrap-tagsinput .badge [data-role="remove"]:after{content:"×";padding:0px 4px;font-size:13px}
.bootstrap-tagsinput + input{display: none;}
.tt-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:0;list-style:none;font-size:14px;background-color:#f2f2f2;;background-clip:padding-box;cursor:pointer;width:100%}
.tt-suggestion{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.428571429;color:#333333;white-space:nowrap}
.tt-suggestion:hover,.tt-suggestion:focus{color:#ffffff;text-decoration:none;outline:0;background-color:#428bca}
.twitter-typeahead{position: static !important;}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {margin-bottom: 0;}
.twitter-typeahead .tt-hint{display: none;}

.upload{position: relative;width: 450px;}
.upload input{opacity: 0;position: absolute;left:0;top:0;width:100%;height: 100%;z-index: 1;}
.upload span{position: absolute;right:0;top:0;width:100%;height: 38px;text-align: right;color:#909090;font-size: 16px;line-height: 38px;}
/* datepicker */
.ui-datepicker{display:none;background:#f2f2f2;padding:15px;box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);}
.ui-datepicker a{color:#909090;min-width: 10px;display: block;font-size: 14px;padding:0 3px}
.ui-datepicker tr td,.ui-datepicker tr th{color:#9d9d9d;padding:5px 8px;text-align: center;font-size: 14px;}
.ui-datepicker .ui-datepicker-title{text-align: center;}
.ui-datepicker .ui-datepicker-header{position: relative;padding-bottom: 15px;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev{position: absolute;left:0;background:url("../images/cal_prev.png") no-repeat;text-indent: -9999px;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next{position: absolute;right:0;background:url("../images/cal_next.png") no-repeat;text-indent: -9999px;}
.ui-datepicker tr td.ui-state-disabled a{color:#9d9d9d}
.ui-datepicker tr td.ui-datepicker-current-day a{background:#72aaf5;color:#fff;border-radius: 50%;}
.form-cont .datepicker{width: 155px;text-align: left;color:#909090;padding:0 20px !important;background: url("../images/icon_datepicker.png") no-repeat 85% center;}
.form-cont .timepicker{width: 155px;text-align: left;color:#909090;padding:0 20px !important;background: url("../images/icon_timestamp.png") no-repeat 85% center;}
.form-item span{color:#9d9d9d;font-size: 16px}
.wd100{width: 100px;}
.form-cont .wd100{text-align: center;line-height: 38px;}

.ui-timepicker-standard{border:0;background:#f2f2f2}
.ui-timepicker-standard a{color:#909090;font-size: 16px;}
.ui-timepicker-standard .ui-state-hover {background-color: #f2f2f2;border: 1px solid transparent;color: #212121}

table.scroll-table{width: 100% !important;border-spacing: 0;}
table.scroll-table thead tr th {height: 36px;line-height: 36px;background-color: #f2f2f2;text-align: center;color:#909090;font-size: 14px;}
table.scroll-table tbody tr td{border-bottom:1px solid #f2f2f2;padding:18px 0;text-align: center;font-size: 14px;color:#9d9d9d;}
table.scroll-table .chk-wrap label{text-indent: -9999px;}
.dataTables_scrollHeadInner{width:100% !important}
.shadow-box{box-shadow: 1.04px 4.891px 18px 0px rgba(0, 0, 0, 0.06);padding:18px}
.layer-form{font-family: 'NotoSansKR-Medium';font-size:14px;color:#909090;margin-bottom: 10px;}
.layer-form input{height: 26px;line-height: 26px;}
.layer-form label{width: 60px;line-height: 26px;}
.wd15{width:15%}
.wd20{width:20%}
.wd30{width:30%}
.wd50{width:50%}

.mr40{margin-right: 40px;}
.data-controls{display: flex;flex-direction: column;align-items: center;justify-content: flex-end;height: 100%;}
.data-controls button{width: 47px;height: 47px;background-image: url("../images/btn_group_controls.png");background-repeat: no-repeat;border-radius: 50%;text-indent: -9999px;}
.data-controls button.btn-move-next{background-position: 0 0;margin-bottom: 30px;}
.data-controls button.btn-move-prev{background-position: 0 -77px;margin-bottom: 30px;}
.data-controls button.btn-move-refresh{background-position: 0 -154px;}
.data-controls.center{justify-content: center;}
ul.screen{display: flex;margin:30px 0 20px}
ul.screen li{width:435px;height:235px;text-align: center;font-size: 62.5px;color:#b7b7b7;background:#f2f2f2;display: flex;align-items: center;font-family: 'NotoSansKR-Regular';justify-content: center;}
.scr-text li{width:50%;text-align: center;font-size: 16px;color:#b7b7b7;display: flex;align-items: center;font-family: 'NotoSansKR-Regular';justify-content: center;}
ul.screen li:first-child{margin-right: 20px;}
.ui-select2{position: relative;}
.ui-select2 > a{padding:10px 40px 10px 15px;color:#909090;background-image: url("../images/icon_select.png");background-position: 92%;background-repeat: no-repeat;}
.ui-select2 > a + ul {display: none;position: absolute;z-index: 10;width: 100%;margin-top:10px}
.ui-select2 > a + ul li a{color:#909090;display: block;padding: 3px 10px;text-align: center;}

#sampleLayout .modal-dialog{max-width: 965px;}
#externel .col-6{width:540px;padding:0}
#externel .col-1{width:90px;padding:0}
#externel .shadow-box{margin-bottom: 20px;}
#externel .data-controls{margin-bottom: 20px;padding-bottom: 100px;}

/* 예약 dark mode*/
.dark-theme nav{background-color: #212121;}
.dark-theme .section{background-color: #212121;}
.dark-theme .section .tit{color:#fff}
.dark-theme .bootstrap-tagsinput {background-color: #35363a}
.dark-theme h2{color:#fff}
.dark-theme .sub-menu{border-color:#434448}
.dark-theme .ui-select a{background-color: #212121;color:#fff}
.dark-theme .vbtn{background-color: #6f6f6f;color:#fff}
.dark-theme .chk-wrap label{color:#fff}
.dark-theme .form-cont .wd100{color:#fff}
.dark-theme .table01 tr th,.dark-theme .table01 tr td{background:#35363a}
.dark-theme .table01 tr th{color:#fff}
.dark-theme .table01 tr td{color:#9d9d9d}

/* login */
.login {display:flex;min-height: 1000px;width: 100%;}
.login .visual{position:relative;width:919px;background: url("../images/light/login_visual.png") no-repeat 0 0;}
.login .visual .text{position: absolute;top:650px;left:180px;}
.login .visual .text p{color:#535353;font-size: 25px;line-height:100%}
.login .visual .text p.en{font-size: 57px;text-align: right;color:#2071dc;}
.login-form{position:relative;width: calc(100% - 919px);min-height: 100%;}
.login-area{position:relative;display: flex;align-items: center;justify-content: center;height:calc(100% - 100px)}
.login-form .company{position: absolute;width:133px;right:85px;bottom:100px;height:19px;background: url("../images/img_company.png") no-repeat 0 0;text-indent: -9999px;}
.login-area .form{margin-top: 0;width: 300px;padding-top: 150px;background: url("../images/login_logo.png") no-repeat top center;}
.login-area .form p{margin-bottom: 13px;}
.login-area .form p input{width:100%;border-radius: 9999px;background-color: #f4f4f4;height:57px;line-height: 57px;font-size: 26px;font-family: 'NotoSansKR-Medium';padding:0 30px}
.login-area .form p input:focus{background-color: #f8f8f8;border:2px solid #c0d9f9}
.login-area .form p button{width: 100%;height: 57px;font-size: 34px;line-height: 57px;padding:0;position: relative;}
.login-area .form p button i{position: absolute;right:0;width: 15px;height: 26px;background: url("../images/login_btn_arrow.png") no-repeat 0 0;top:50%;transform: translateY(-50%);right:20px}
.login-area .form ul{display: flex;justify-content: center;}
.login-area .form ul li{position: relative;}
.login-area .form ul li a{font-size: 20px;color:#cccccc;padding:0 18px}
.login-area .form ul li:first-child::before{content: '';position: absolute;width:2px;height:18px;background-color: #acccf7;right: 0;top:50%;transform: translateY(-50%);}

.login-area .form p.text-right{margin-top:20px}
.login-area .form p.text-right a{display: block;text-align: right;color:#93bdf4;padding-right: 24px;background: url("../images/login_btn_regist.png") no-repeat right center;}
.select-mode{margin-top:40px;display: flex;justify-content: flex-end;padding-right: 40px;color:#909090;align-items: center;}
.select-mode ul{display:flex;width:101px;height:32px;background:url("../images/light/img_mode.png") no-repeat 0 0;margin-left: 30px;}
.select-mode ul li{width:50%;}
.select-mode ul li a{display: block;text-indent: -9999px;}


.dark-theme {background-color: #35363a;}
.dark-theme .login .visual{background: url("../images/dark/login_visual.png") no-repeat 0 0;}
.dark-theme .login .visual .text p{color:#f6f6f6}
.dark-theme .login .visual .text p.en{color:#2071dc}
.dark-theme .select-mode{color:#fff}
.dark-theme .select-mode ul{background:url("../images/dark/img_mode.png") no-repeat 0 0;}
.dark-theme .login-area .form ul li:first-child::before{background:#83a4d0}
.dark-theme .login-area .form p input{background:#3e3f43}