.main-visual{display: flex;flex-direction: column;height: 100%;justify-content: center;align-items: center;color:#909090;font-size: 15px;background:url("../images/bg_main.png") no-repeat -416px -171px ;background-size: 675px auto;position: relative;}
.main-visual > div:first-child{background: url("../images/main_visual.png") no-repeat 0 0;background-size: 195px auto;padding-top: 163px;margin-bottom: 10px;}
.main-visual strong{color:#2071DC;font-size: 24px;font-weight: 500;font-family: 'Montserrat',sans-serif;}
.main-visual .copyright{position: absolute;bottom: 50px;width: 100%;text-align: center;background:url("../images/main_copyright.png") no-repeat center top;background-size:29px auto;padding-top: 35px;font-size:10px}

.login-form-wrap{display: flex;flex-direction: column;height: 100%;justify-content: center;align-items: center;padding:0 36px;position: relative;}
.login-form{width: 100%;}
.login-form input[type="text"],.login-form input[type="password"]{height: 46px;line-height: 46px;}
.login-form button{border-radius: 9999px;display: block;width: 100%;color:#fff;font-family: 'Montserrat',sans-serif;font-size: 15px;font-weight: 500;height: 46px;line-height: 46px;}
.login-form > div{margin-bottom: 15px;}
.login-form ul{display: flex;}
.login-form ul li{padding:0 10px}
.login-form ul li:first-child{margin-left: 0;position: relative;}
.login-form ul li:first-child:after{content: '';position: absolute;right: 0;width: 1px;height: 11px;background-color: #B7B7B7;top:50%;margin-top:-5.5px}
.login-form ul li:last-child{margin-left: auto;}
.login-form ul li a{color:#909090;font-size: 12px;display: block;}

table .chk-wrap{display: flex;justify-content: center;}
table .chk-wrap input + label i{margin-right: 0;}

.navigation .prev{display:inline-block;width:11px;height:19px;background: url("../images/btn_prev.png") no-repeat center center;background-size: 11px auto}
.list > ul{width: 100%;}
.list > ul .depth-menu{position: absolute;right: 20px;text-align: right;}
.list > ul .depth-menu li{background: #F2F2F2;padding:0 10px}
.list > ul .depth-menu li a{display: block;width: 65px;height: 47px;text-align: center;border-bottom: 1px solid #B7B7B7;}
.list > ul .depth-menu li:last-child a{border-bottom: 0;}
.list > ul > li p{padding:0 20px;}
.list > ul > li p{margin-top: 20px;color:#9D9D9D;font-size: 15px;}
.list > ul > li p.tit{margin-top: 10px;}
.list > ul > li p strong{font-size: 22px;color:#6F6F6F;margin-right: 10px;}
.list > ul > li p span{display: inline-block;}
.list > ul > li p span.flag{color:#fff;font-size: 10px;line-height: 100%;padding:5px;border-radius: 9999px;background-color: #72AAF5;}
.list > ul > li p span.flag.st02{background-color:#F5C872}
.list > ul > li .btn-group{margin-top: 20px;}
.container .list .no-data{padding-top:130px;background: url("../images/bg_no_data.png") no-repeat top center;background-size: 153px auto;margin-top:20%;color:#909090;font-size: 15px;}

.section{background-color: #F2F2F2;padding:10px 0 50px;width:100%}
.section .article{margin-bottom: 10px;background-color: #fff;padding:10px 20px 15px}
.section .article input[type="text"],
.section .article input[type="time"]{height: 42px;padding:0 18px;}
.section .article h3{margin:20px 0 10px;font-size: 14px;color:#909090;font-weight: 500;}
.section .article h3:first-child{margin-top: 0;}

.filter{display: flex;padding: 0 40px;justify-content: space-between;min-height: 68px;border-bottom: 1px solid #f2f2f2;align-items: center;color:#909090;width:100%;box-sizing: border-box;}

.alrim{display: flex;justify-content: space-between;}